<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Chewy|Fjalla+One|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div class="ceu">
        <div class="nuvens">
            <div class="nuvens">
                <img src="cloud1.png" id="nuvem-1">
                <img src="cloud1.png" id="nuvem-2">
                <img src="cloud1.png" id="nuvem-3">
                <img src="cloud1.png" id="nuvem-4">
            </div>
        </div>
        <div class="sol"></div>
        <div class="wrapper-signup">

            <form class="signup-form" action="/login" method="post">
                <h1 class="header">Gabble</h1>
                <h1 class="su-header">Sign In</h1>
                <input placeholder="Username" type="text" name="username" value="" autocomplete="off" required><br>
                <input placeholder="Password" type="password" name="password" value="" autocomplete="off" required><br>
                <button type="submit" name="login" value="login">Sign In</button>
                <p>Don't An Account?<a href="/signup">Sign Up</a></p>
            </form>
        </div>
    </div>
</body>

</html>