<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Gabs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy|Fjalla+One|Open+Sans+Condensed:300" rel="stylesheet">

</head>

<body class="site-background">
    <nav>
        <div class="nav-row">
            <ul class="nav">
                <li class="active" id="home"><a class="link" href="/">Home</a></li>
                <li><a class="link" href="/posts">Create Post</a></li>

                <li><a class="link" href="/myposts">My Posts</a></li>
                <li><a class="link" href="logout">Sign Out</a></li>
                <li>Logged in as {{user.username}}</li>
            </ul>
        </div>
    </nav>
    <div class="wrapper-myposts">
        <h1 class="header">Gabble</h1>
        <h1>My Posts</h1>
        {{#posts}}
        <div class="center-section">

            <form action="/myposts/{{id}}" method="post">
                <div class="line-1">
                    <p>{{createdAt}}</p>
                    <span class="username"><strong>{{user.username}}</strong>: </span><br>
                    <div class="">
                        <div class="message">{{message}}</div>
                    </div>
                </div>
                <br> {{#likes.length}}
                <a class="btn-like" href="/likes/{{id}}">{{likes.length}} likes</a> {{/likes.length}} {{^likes.length}} No
                likes yet. {{/likes.length}}
                <button type="submit" class="btn-delete" value="Delete">Delete</button>
            </form>
            <br>

        </div>
        <br> {{/posts}}
    </div>
</body>

</html>