<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create New Post</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Chewy|Fjalla+One|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body class="site-background">



    <nav>
        <div class="nav-row">
            <ul class="nav">
                <li class="active" id="home"><a class="link" href="/">Home</a></li>
                <li>Create Post</li>
                <li><a class="link" href="/myposts">My Posts</a></li>
                <li><a class="link" href="logout">Sign Out</a></li>
                <li>Logged in as {{user.username}}</li>
            </ul>
        </div>
    </nav>
    <h1 class="header">Gabble</h1>
    <div class="wrapper-signup">
        <form class="signup-form" action="/posts" method="post">
            <div class="talkbubble">
                <h1 class="newPost">Create a New Post</h1>
                <textarea name="newmessage" maxlength="140"></textarea>
            </div>
            <button class="new-post-button" type="submit" name="savemessage" value="Save post">Post</button>
        </form>

    </div>

</body>

</html>